/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General Styles */
 
html {
	font-size: 16px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
 
header{
  background-color: #202322;
}

footer{
  background-color: #202322;
}

.copyright h4{
  font-size: .75em;
  font-weight:lighter;
}

ul, 
li {
  font-weight: bold;
 
}
 
a {
	color: #e2e3ed;
  text-decoration: none;
}
 
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color:#e2e3ed;
}

.faq h1{
  font-weight: lighter;
}
 
h2{
  color:#e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
}

h4{
  
}

h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size:;
  color:#e2e3ed;
  font-weight: lighter;
}
 
p {
  color:#e2e3ed;
  font-weight: lighter;
	font-size: 1em;
  line-height: 1.5em;
}

.faq-content p{
  line-height: normal;
}

img {
 width:100%;
}
 
figure {
 margin:0;
}
 
address {
 font-style:normal;

}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}


.mission, .faq, aside{
  background-color: #527158;
}

.mission h1, .contact-section h1{
  font-weight:lighter;
}

/*****************BASE STYLES***************/

header, footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
    
}

.hero-area{
 background: url("../img/hero.jpg") center no-repeat #333;
 background-size:cover;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-flow: row wrap;
 min-height:500px;
}

.features{
  background:url("../img/camp.jpg")  center no-repeat #333;
  background-size:cover;
  display:flex;
  flex-flow:row wrap;
  width:100%;
}
/****************HEADER STYLES*************/

header {
  padding:15px 0;
}


header .content-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}


.header-divider {
  width:100%;
}

header nav {
     display:flex;
     justify-content: space-around;
     flex-wrap: row wrap;
     width:60%;
     margin-right: 50px;
}

header nav ul {
  display:flex;
  justify-content: space-between;
  width:45%;
  padding:0px;
  margin:15px 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  margin:10px;
}


/**************FOOTER STYLES**************/

.content-wrapper {
  width:55%;
}

.footer-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer .content-wrapper{
  width:55%;
  margin:50px 0;
}


.contact {
text-align: center;
}

.contact p {
  padding-bottom:15px;
}

address {
 
}

address h3 {}

.social {
  text-align: center;
 width:45%;
}

#social-label{
  padding:15px 0 15px 0;
}

.social-icons {}

footer p {
  margin:0;
  
}

.copyright {
  padding-top:45px;
  width: 90%;
  text-align: center;
}

.copyright h4 {
}

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}



/**************MOBILE STYLES- HOMEPAGE************/

/*****MAIN*****/


#slogan {
  
  padding:0 0 200px 15px;
}


/*****aside section*****/

.aside {
  display: flex;
  flex-flow:row wrap;
}

.content-wrapper {
  display:flex;
  flex-flow: row wrap;
  width:90%;
  margin:20px 15px 45px 15px;
}

.form-description {}

.content-info{}

.form{}

/*****features section*****/

.features{
  display: flex;
  flex-flow: row wrap;
  
}

.content-wrapper{
  width:90%;
}

.features article {
  width:55%;

}

.features-items {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features h2{
  margin-bottom: 50px;
}
.features p{
  margin:0;
}

article {
  padding-bottom: 45px;
}

.fontawesome-icon {
  padding-bottom: 25px;
}

.features-item-description {
  
}

/*****reviews section*****/

.reviews {
  display:flex;
  flex-flow:row wrap;
  background-color: #2a423a;
}

.content-wrapper{
  display:flex;
  width:90%;
  margin: 0;
  padding:0 0 15px 15px;
}

.reviews h2{
  width:75%;
  padding-top:18px;
  padding-bottom: 25px;
}

.reviews img{
  display:flex;
  width:100%;
}

article #reviews {}

.sub-heading {
  
}

h2 {
  margin-right: 25px;
  padding:5px;
}

p {}


/**********MOBILE STYLES ABOUT PAGE*************/

/*****MAIN*****/

/*****mission section*****/

.mission {
  display: flex;
  flex-flow: row wrap;
}

.content-wrapper{
  display: flex;
}

.mission-content {}

.mission-content h1 {
  margin:0;
  padding-bottom:15px;
}

.mission-content p {
  margin-bottom:0;
}

/*****map section*****/

figure {}

/*****contact section*****/

.contact-section{
  background-color: #2a423a;
}

.content-wrapper h1 {}

.content-wrapper h3 {}

address {}

.general-info {}
 

/********MOBILE STYLES FAQ PAGE*********/

header nav{
  margin-right:15px;
}

/*****MAIN*****/

.faq {
  display: flex;
  flex-flow: row wrap;
}

.content-wrapper {
  display:flex;
  
}

.questions-content {
  display: flex;
  flex-direction: column;
}

.questions-content h1 {}

.faq-content {

}

.faq-content h4 {}

.faq-content p {
  margin-bottom:0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media screen and (min-width: 768px) {

    /*Tablet styles here*/

    /**General styles**/

    .content-wrapper{
      max-width: 640px;
      margin:100p 0;
    }
     
    /**HEADER**/
    
    header{
      display:flex;
      justify-content: center;
    }
    header .content-wrapper{
      display: flex;
      justify-content: center;
      width:
    }

    .header-divider{
      display: none;
    }

    header nav {
      display:flex;
      justify-content: center;
      width: 55%;
    }

    header nav ul {
      display:flex;
      justify-content: center;
      padding-left:325px;
    }
    
    header nav ul li{
      padding-left:30px;
    }

     /**FOOTER**/

     footer .content-wrapper {
      width: 90%;
      margin: 100px 0;
  }
  
  .footer-content {
      display:flex;
      flex-flow: row;
      justify-content: center;

  }

  footer .contact {
      margin-bottom: 0;
      padding:0 125px;
  }

  footer .copyright {
      width:100%;
      text-align: center;
  }
     
    /**HOME PAGE**/

    /**Hero area**/
    
    .hero-area{
      display:flex;
      align-items: flex-start;
      padding-top:50px;
      
    }
    /**Aside**/

    aside .content-wrapper{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      margin: 0;
      padding-left:100px;
      padding-bottom:30px;
    }

    aside .content-wrapper .form-description, 
    aside .content-wrapper .form{
      margin:0;
      width: 50%;
    }

    /**Features**/

    .features{
      display: flex;
      justify-content: center;
      margin:0;
    }

    .features article {
      display:flex;
      justify-content: center;
      align-items:center;
      flex-flow:row wrap;
      width:50%;
      flex-basis:250px;
    }

    .features .features-item-description{
      width:50%;
    }

    /**Reviews**/

    .reviews {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #2a423a;}

    .reviews article{
      display:flex;
      justify-content: center;
      
    }
    
    .reviews h1{
      width:75%;
    }

    .reviews article div{
      width:50%;
      padding-left:25px;
    }

    .reviews h2 {
      width:75%;
      margin:0;
      padding-bottom:0;
      padding-top:0;
    }
    
    .reviews img{
      display:flex;
      width:100%;
    }

    /**ABOUT PAGE**/

    /**Mission**/

    .mission {
      
    }

    .mission-content {
      display:flex;
      justify-content: space-between;
      align-items: center;
  }

  .mission-content p {
      width: 50%;
  }

  .mission .content-wrapper{
    margin:50px;
  }
  
  /**Contact**/

  .contact-section{
    background-color: #2a423a;
  }

  .contact-section .content-wrapper h2 {
      width:90%;
  }

  .contact-section address{
    width:50%;
  }

  .general-info {
      display:flex;
      justify-content:center;
      align-items:center;
}

.contact-section .content-wrapper h3{
  padding-left: 50px;
}


  /**FAQ**/

.questions-content{
  display: flex;
  padding-left: 150px;
  flex-direction: column;
}

.faq .content-wrapper {
    display:flex;
    justify-content: space-between;
}

.faq-content {
    display:flex;
    flex-flow:row wrap;
    flex-basis: 40%;
}

.faq .content-wrapper h1{
display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 80px;
}

.faq h2 {
    width: 100%;
}

}
    
    
 @media screen and (min-width: 1200px) {
    
 /*Desktop styles here*/

 /**General Styles**/

  .content-wrapper{
  max-width: 90%;
  margin: 115px 0;
  display:flex;
  }

/**Header**/

  header .content-wrapper{
    display: flex;
    justify-content: space-between;
  }

  a{
    padding-left:40px;
  }

  /**Footer**/
   
  footer .content-wrapper{
    display:flex;
    justify-content: center;
  }
  footer .content-wrapper .footer-content{
    display:flex;
    justify-content: space-evenly;
    width:90%;
  }

/**HOME PAGE**/

/**Hero**/

.hero-area h1{
  width: 75%;
  text-align:left;
}

#slogan{
  display: flex;
  width: 100%;
  padding: 0 0 150px 100px;
  justify-content: flex-start;
}

/**Aside**/
aside .content-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-left:50px;
}

aside .content-wrapper .form-description, aside .content-wrapper .form {
  margin: 0;
  width: 30%;
}

/**Features**/

.features{
  display:flex;
  justify-content: center;
  margin:0;
}

.features article{
  display:flex;
  flex-basis: auto;
  width:30%;
}

.features-items {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-left: 100px;
}

.features h2 {
width: 60%;
padding-left:100px;
}

/**Reviews**/

.reviews h1{
  padding-bottom:50px;
}
.reviews .content-wrapper{
  margin: 20px;
  max-width: 960px;
  display:flex;

}

.reviews{
  display: flex;
  justify-content: center;
}

.reviews article div{
  display:flex;
  width:50%;
  flex-flow:row wrap;
  align-content: flex-start;
}

.reviews img{
  display:flex;
  justify-content: center;
  width:75%;
}

/**ABOUT PAGE**/

.mission .content-wrapper{
  display:flex;
  justify-content: center;
  margin:50px 100px 50px 100px;
}

.mission h1, .contact-section .content-wrapper h1{
  display:flex;
  width:100%;
}

.contact-section{
  margin:0;
  background-color: #2a423a;
}

.contact-section h1{
  padding-left:100px;
}

.contact-section address{
  width:30%;
}

.contact-section address #facilitator{
  padding-right: 30px;
}

.contact-section .content-wrapper{
  display:flex;
  justify-content:space-evenly;
  margin:0;
}

.contact-section address h3{
  text-align: center;
  padding-right:75px;
}


/**FAQ PAGE**/

.faq .content-wrapper{
  margin:50px 0 50px 0;
}

.faq, .faq .content-wrapper{
  display:flex;
  justify-content: center;
  width:100%;
}

.faq .content-wrapper h1{
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}

.questions-content{
  flex-flow: row wrap;
  display: flex;
  padding-left: 0px;
  margin: 0;
  justify-content: space-around;
}

    }


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

